<form (submit)="onFileUpload()">
  <br><br>
  <h1>Here is where you add books</h1>
  <h6>(only you have access)</h6><br><br>

  <div class="form-row">
    <div class="form-group col-md-6">
      <!-- title -->
      <label for="book-title">Title of the book</label>
      <input type="text" [(ngModel)]="title" class="form-control" id="book-title" name="title" placeholder="Title">
    </div>
    <div class="form-group col-md-6">
      <!-- author -->
      <label for="book-author">Author of the book</label>
      <input type="text" [(ngModel)]="author" class="form-control" id="book-author" name="author" placeholder="Author">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <!-- publisher -->
      <label for="book-publisher">Book's publisher</label>
      <input type="text" [(ngModel)]="publisher" class="form-control" id="book-publisher" name="publisher" placeholder="Publishing House">
    </div>
    <div class="form-group col-md-6">
      <!-- link to purchase -->
      <label for="book-link">Link to the book</label>
      <input type="text" [(ngModel)]="link" class="form-control" id="book-link" name="link" placeholder="www.amazon.ca/book-link">
    </div>
  </div>

  <div class="form-group">
    <!-- review -->
    <label for="book-review">Short Review</label>
    <textarea [(ngModel)]="review" class="form-control" id="book-review" name="review" rows="3"></textarea>
  </div>

  <!-- list of genres:  (he only wants the one listed on the papers)
    fiction
    nonfiction
    classic
    crime
    epic
    fable
    fairy tale
    fantasy
    folktale
    gothic
    historical
    horror
    comedy
    legend
    magic
    romantic irony
    mystery
    mythology
    mythopoeia
    realistic
    romance
    satire
    science
    short story
    spy
    superhero
    pirates           this will end up being in ts file
   -->

  <div *ngFor="let data of Data; let i=index">
    <label>
      <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
      {{data.name}}
    </label>
  </div>

  <!-- image thumbnail -->
  <div class="form-group">
    <!-- <label for="book-thumbnail">Image for the thumbnail of the book</label>
    <input [(ngModel)]="img" type="file" class="form-control-file" id="book-thumbnail" name="img"> -->
    <label for="file">Choose File</label>
    <input #fileInput type="file" id="file">
  </div>

  <!-- submit -->
  <br><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
