<div class="jumbotron text-center">
  <h1>Alpha Mensae Publishing Inc</h1>
  <p>Alpha Mensae is a small publishing house in operation since 2008. It is now open for submissions from accomplished and from first time authors. We offer standard trade contract royalties </p>

  <h2>Services</h2>
  <p>We assess, edit, copyright, print, market and promote mainly online</p>

  <h2>Interests</h2>
  <p>We focus primarily on the following genres:</p>

  <ul>
    <li>
      Adventure
    </li>
    <li>
      Biography
    </li>
    <li>
      Fiction
    </li>
    <li>
      Memoires
    </li>
    <li>
      Native
    </li>
    <li>
      Non-Fiction
    </li>
    <li>
      Politics
    </li>
    <li>
      Science Fiction
    </li>
    <li>
      Social History
    </li>
    <li>
      Teen
    </li>
    <li>
      Western
    </li>
  </ul>

  <h2>Submissions</h2>
  <ol>
    <li>Send via e-mail and in word (.doc/.docx) format a synopsis (plus an outline in case of non-fiction) with a maximum of 250 words to <a href="mailto:synopsis@alphamensaepublishing.com" target="_blank">synopsis@alphamensaepublishing.com</a></li>
    <li>Send via email and in words (.doc/.docx) format the first 3,000 words of your manuscript to <a href="mailto:samples@alphamensaepublishing.com" target="_blank">samples@alphamensaepublishing.com</a></li>
    <li>Send via email and in word (.doc/.docx) format your entire manuscript (plus gray-scale and/or colour pictures if included) to <a href="mailto:manuscripts@alphamensaepublishing.com" target="_blank">manuscripts@alphamensaepublishing.com</a></li>
  </ol>

</div>
